# 반복문
- 특정조건에 따라 실행문장을 반복해서 실행하는 제어구문
- 종류 : while, for-each, range()함수를 활용한 for문

for-each 구조
for 변수명 in 리스트:
    실행문장

In [29]:
for i in range(100,301):
    if int((i/100)%2) == 0 and int((i/10)%2) == 0 and int(i%2) == 0:
        print(i)

200
202
204
206
208
220
222
224
226
228
240
242
244
246
248
260
262
264
266
268
280
282
284
286
288

In [25]:
a = 3.2%2
a

1.2000000000000002

In [3]:
list_food = ["햄버거","치킨","피자"]

# for-each문 : 리스트(문자열 or 튜플) 안에 있는 데이터를 순차적으로 접근하여
#              for 키워드 위에 오는 변수명에 저장하여 사용하는 구문
for food in list_food:
    print(food)

햄버거
치킨
피자

In [19]:
score_list = [90, 45, 70, 60, 55]
num = 1

for result in score_list:
    if result>=60:
        print('{}번 학생은 합격입니다.'.format(num))
    else:
        print('{}번 학생은 불합격입니다.'.format(num))
    num = num+1

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.

### range()함수를 활용한 for문

In [ ]:
#구조
for 인덱스변수 in range(시작, 끝, 증가값):
    실행문장
    실행문장
    ....

In [23]:
# 1~10까지 출력하시오.
# for i in range(1, 11, 1): #1 <= i < 11
#     print(i)

#증가값위치는 생략 가능
#for i in range(1,11):
#    print(i)

# 시작값 위치 생략 가능 (대신 0부터 시작)
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [27]:
for j in range(10):
    print(j+1, end = ' ') #print()함수의 end속성 : 기본값 \n(줄바꿈), 새로운 값을 지정하면 줄바꿈이 사라짐(띄어쓰기....등)
                            # shift + tab ---> 함수 설명 띄우기

1 2 3 4 5 6 7 8 9 10

In [28]:
# 10~1까지 출력
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [31]:
for i in range(97,76,-1):
    print(i, end=' ')

97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77

In [32]:
for i in range(23,41):
    print(i, end=' ')

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [36]:
# list 안에 list요소 뽑기
list1 = [[1,2],[3,4],[5,6]]
for i in list1:
    print(i) 

list1 = [[1,2],[3,4],[5,6]]
for i,j in list1:
    print(i,j)
    
for i in list1:
    for j in i:
        print(j)

[1, 2]
[3, 4]
[5, 6]
1 2
3 4
5 6
1
2
3
4
5
6

In [39]:
#두 개의 정수를 입력받아 첫 번째 정수 부터 두 번째 정수까지 출력되는 코드
start = int(input('첫 번째 정수 입력 >> '))
end = int(input('두 번째 정수 입력 >> '))

for i in range(start, end+1):
    print(i, end=' ')

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 30
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [46]:
#구구단 2단
num = 2

for i in range(1,10):    
    print('{} * {} = {}'.format(num,i,num*i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [54]:
for i in range(1,10):
    print('---{}단---'.format(i))
    for j in range(1,10):
        print('{} * {} = {}'.format(i,j,i*j))
    print('----------')

---1단---
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
----------
---2단---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
---3단---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
---4단---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
---5단---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
---6단---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
---7단---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
---8단---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
---9단---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

In [67]:
num = int(input('정수 입력 >> '))
print('{}의 약수 : '.format(num), end=' ')
for i in range(1,num+1):
    if num%i == 0:
        print(i,end=' ')

정수 입력 >> 32
32의 약수 :  1 2 4 8 16 32

# while문

In [68]:
num = 0

while num<10:
    print("hello world")
    num +=1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [69]:
num = 0
while True:
    num+=1
    print(num)
    if num>=10:
        break

1
2
3
4
5
6
7
8
9
10

In [88]:
while True:
    num1 = int(input('첫 번째 정수 입력 >> '))
    num2 = int(input('두 번째 정수 입력 >> '))
    print('두 정수의 합 : {}'.format(num1+num2))
    if num1+num2==0:
        print('프로그램이 종료되었습니다.')
        break

첫 번째 정수 입력 >> 0
두 번째 정수 입력 >> 0
두 정수의 합 : 0
프로그램이 종료되었습니다.

In [91]:
#랜덤 수 뽑는 법
import random as r #Random r = new Random(); 자바로 비유

In [190]:
r.randint(1,10) #최소 1 최대 10

10

In [ ]:
num = r.randint(1,50)
num1 = 0
while num != num1:
    num1 = int(input('숫자를 입력하세요 >> '))
    if num1>num:
        print('{}보다 작은 수 입니다.'.format(num1))
    else:
        print('{}보다 큰 수 입니다.'.format(num1))
print('정답을 맞추셨습니다.')